<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISirenaGateService" />
                <binding name="BasicHttpBinding_ISirenaGateService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8833/SirenaGateService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISirenaGateService"
                contract="SirenaGateServiceReference.ISirenaGateService" name="BasicHttpBinding_ISirenaGateService" />
            <endpoint address="http://localhost:8833/SirenaGateService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISirenaGateService"
                contract="SirenaGateServiceReferenceTwo.ISirenaGateService"
                name="BasicHttpBinding_ISirenaGateService" />
        </client>
    </system.serviceModel>
</configuration>