<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--По умолчанию служба использует для Сирены
        UserId = 922,
        Host = 193.104.87.251,
        Port = 34323 -->

    <!--Опциональные настройки для Сирены-->

    <!--
    <add key="SirenaGateHost" value="193.106.94.28" />
    <add key="SirenaGatePort" value="8080" />
    <add key="SirenaGateUserId" value="922" />
    -->
    <add key="LoggerEnabled" value="True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="events.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="2"/>
      <maximumFileSize value="50MB"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
        <conversionPattern value="%newline%newline%date %newline%logger &#xD;&#xA;                       [%property{NDC}] %newline&gt;&gt; %message%newline"                                                                          />
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <system.serviceModel>
    <services>
      <service name="SirenaTravelProxyGateWcf.SirenaGateService">
        <endpoint address="" binding="basicHttpBinding" contract="SirenaTravelProxyGateWcf.ISirenaGateService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8833/SirenaGateService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>  
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>